<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Settings</key>
	<dict>
		<key>enableButtonExit</key>
		<true/>
		<key>urlPrivacyPage</key>
		<string>http://www.facebook.com</string>
	</dict>
	<key>HeaderAuthentication</key>
	<dict>
		<key>imageBackground</key>
		<string>http://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11032837_341327686061480_1996579083_n.jpg</string>
		<key>colorBackground</key>
		<string>4E6CA7</string>
		<key>alphaViewHeader</key>
		<real>0.3</real>
		<key>titleFontColor</key>
		<string>ffffff</string>
		<key>titleFontSize</key>
		<string>34.0</string>
		<key>titleFont</key>
		<string>Noteworthy-Bold</string>
		<key>descriptionFontColor</key>
		<string>ffffff</string>
		<key>descriptionFontSize</key>
		<string>14.0</string>
		<key>descriptionFont</key>
		<string>Avenir</string>
		<key>buttonFontColor</key>
		<string>ffffff</string>
		<key>buttonFont</key>
		<string>System Bold</string>
		<key>buttonFontSize</key>
		<string>12</string>
	</dict>
	<key>HeaderResetPassword</key>
	<dict>
		<key>imageBackground</key>
		<string>http://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11116605_1381477532151508_481588024_n.jpg</string>
		<key>colorBackground</key>
		<string>4E6CA7</string>
		<key>alphaViewHeader</key>
		<real>0.3</real>
		<key>titleFontColor</key>
		<string>ffffff</string>
		<key>titleFontSize</key>
		<string>34.0</string>
		<key>titleFont</key>
		<string>Noteworthy-Bold</string>
		<key>descriptionFontColor</key>
		<string>ffffff</string>
		<key>descriptionFontSize</key>
		<string>14.0</string>
		<key>descriptionFont</key>
		<string>Avenir</string>
	</dict>
</dict>
</plist>
